ul, li{
  margin: 0;
  padding: 0;
  list-style: none;
}
h1, h2, h3, h4, h5, h6{
  margin: 0;
  padding: 0;
}
a:hover{
  text-decoration: none;
}
.light-grey{
  background: #fbfbfb;
}
.bg-white{
  background: #fff;
}
.pt-50{
  padding-top: 50px;
}
.common-section{
  padding: 40px 0;
}
.btn-warning {
  color: #fff;
  background-color: #ffa231;
  border-color: #ffa231;
}
.btn-warning:hover, .btn-warning:focus, .btn-warning.focus {
  background-color: #f1972a;
  border-color: #f1972a;
}
body{
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
}
.banner-section{  
  background: url(../images/background.jpg) no-repeat;
  background-size: 100%;
}
.navbar-default{
  background: none;
  border:none;
  padding: 15px 0 15px 0;
}
.navbar-header{
  width:100%;
}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand{
  margin: 0;
  padding: 15px 0 0 0;
}
.top-menu{
  margin: 19px 0 0 0;
  z-index: 2;
  position: relative;
  display: inline-block;
}
.menu-icon {
  width: 24px;
  height: 16px;
  cursor: pointer;
}
.menu-icon .bar{
  width:100%;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  height: 100%;
  margin-top: 0;
  -webkit-transform: translate(0, 0%);
  -ms-transform: translate(0, 0%);
  transform: translate(0, 0%);
  -webkit-transform: translate3d(0, 0%, 0);
  transform: translate3d(0, 0%, 0);
  transition: width 222ms cubic-bezier(0.215, 0.61, 0.355, 1) 444ms, margin-top 222ms cubic-bezier(0.215, 0.61, 0.355, 1) 222ms, -webkit-transform 222ms cubic-bezier(0.215, 0.61, 0.355, 1) 222ms;
  transition: width 222ms cubic-bezier(0.215, 0.61, 0.355, 1) 444ms, margin-top 222ms cubic-bezier(0.215, 0.61, 0.355, 1) 222ms, transform 222ms cubic-bezier(0.215, 0.61, 0.355, 1) 222ms
}
.menu-icon .bar span {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 2px;
  background-color: #006f73;
  -webkit-transform: rotate(0deg) translate3d(0, 0, 0);
  transform: rotate(0deg) translate3d(0, 0, 0);
  transition: -webkit-transform 222ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 222ms cubic-bezier(0.215, 0.61, 0.355, 1)
}
.menu-icon .bar:nth-child(2) {
  width: 50%;
  -webkit-transform: translate(0, 50%);
  -ms-transform: translate(0, 50%);
  transform: translate(0, 50%);
  -webkit-transform: translate3d(0, 50%, 0);
  transform: translate3d(0, 50%, 0)
}
.menu-icon .bar:nth-child(3) {
  width: 75%;
  -webkit-transform: translate(0, 100%);
  -ms-transform: translate(0, 100%);
  transform: translate(0, 100%);
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0)
}
.menu-icon .bar:nth-child(3) span {
  visibility: visible;
  transition: visibility 0ms linear 222ms
}
.menu-icon.close-nav .bar {
  margin-top: -1px;
  width: 100%;
  -webkit-transform: translate(0, 50%);
  -ms-transform: translate(0, 50%);
  transform: translate(0, 50%);
  -webkit-transform: translate3d(0, 50%, 0);
  transform: translate3d(0, 50%, 0);
  transition: width 222ms cubic-bezier(0.215, 0.61, 0.355, 1), margin-top 222ms cubic-bezier(0.215, 0.61, 0.355, 1) 222ms, -webkit-transform 222ms cubic-bezier(0.215, 0.61, 0.355, 1) 222ms;
  transition: width 222ms cubic-bezier(0.215, 0.61, 0.355, 1), margin-top 222ms cubic-bezier(0.215, 0.61, 0.355, 1) 222ms, transform 222ms cubic-bezier(0.215, 0.61, 0.355, 1) 222ms
}
.menu-icon.close-nav .bar span {
  transition: -webkit-transform 222ms cubic-bezier(0.215, 0.61, 0.355, 1) 444ms;
  transition: transform 222ms cubic-bezier(0.215, 0.61, 0.355, 1) 444ms
}
.menu-icon.close-nav .bar:nth-child(1) span {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg) translate3d(0, 0, 0);
  transform: rotate(45deg) translate3d(0, 0, 0)
}
.menu-icon.close-nav .bar:nth-child(2) span {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg) translate3d(0, 0, 0);
  transform: rotate(-45deg) translate3d(0, 0, 0)
}
.menu-icon.close-nav .bar:nth-child(3) span {
  visibility: hidden;
  transition: visibility 0ms linear 444ms
}
.bg-menu{
  background: rgba(0,0,0,0.7);
  width:100%;
  height: 100%;
  position: absolute;
  display: none;
  z-index: 1;
}
.bg-menu.show{
  display: block;
}
.primary-navigation .menu{
  width: 100%;
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  height: 100vh;
  width: 320px;
  padding: 48px 60px;
  background-color: #fff;
  color: #fff;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: -webkit-transform .262s ease-out;
  transition: -webkit-transform .262s ease-out;
  transition: transform .262s ease-out;
  transition: transform .262s ease-out, -webkit-transform .262s ease-out;
}
.primary-navigation .menu .pages {
  margin: 0 12px 48px 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.75
}
.primary-navigation .menu .pages li {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translate3d(0, -10px, 0);
  transform: translate3d(0, -10px, 0);
  -webkit-transition: opacity 350ms, visibility 0s 350ms, -webkit-transform 350ms ease-out;
  transition: opacity 350ms, visibility 0s 350ms, -webkit-transform 350ms ease-out;
  transition: opacity 350ms, transform 350ms ease-out, visibility 0s 350ms;
  transition: opacity 350ms, transform 350ms ease-out, visibility 0s 350ms, -webkit-transform 350ms ease-out;
  display: block;
  margin: 0;
  padding-left: 0;
  padding-bottom: 20px;
  list-style: none
}
.primary-navigation .menu .pages li:before {
  display: none
}
.primary-navigation .menu .pages li:nth-child(2),
.primary-navigation .menu .pages li:nth-child(3),
.primary-navigation .menu .pages li:nth-child(4),
.primary-navigation .menu .pages li:nth-child(5),
.primary-navigation .menu .pages li:nth-child(6) {
  display: block
}
.primary-navigation .menu .pages li a {
  color:#1e2122;
  position: relative;
  display: inline-block;
  padding: 0;
  text-decoration: none;
  -webkit-transition: color 350ms;
  transition: color 350ms;
  overflow: hidden;
}
.primary-navigation .menu .pages li a:after {
  content: '';
  position: absolute;
  bottom: 1px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #00959b;
  visibility: hidden;
  -webkit-transform: translate(-100%, 0);
  -ms-transform: translate(-100%, 0);
  transform: translate(-100%, 0);
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  transition: visibility 0ms linear 333ms,-webkit-transform 333ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: visibility 0ms linear 333ms,transform 333ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
.primary-navigation .menu .pages li a:active,
.primary-navigation .menu .pages li a:focus,
.primary-navigation .menu .pages li a:hover {
  color: #00959b;
}
.primary-navigation .menu .pages li a.current:after, .primary-navigation .menu .pages li a:hover:after {
  visibility: visible;
  -webkit-transform: translate(0%, 0);
  -ms-transform: translate(0%, 0);
  transform: translate(0%, 0);
  -webkit-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
  transition: visibility 0ms linear,-webkit-transform 333ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: visibility 0ms linear,transform 333ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
.primary-navigation .menu .pages li a:active:after,
.primary-navigation .menu .pages li a:focus:after,
.primary-navigation .menu .pages li a:hover:after {
  opacity: 1
}
.primary-navigation .menu.active {
  -webkit-transform: translateX(0);
  transform: translateX(0)
}
.primary-navigation .menu.active .toggle {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: opacity 350ms, -webkit-transform 350ms ease-out;
  transition: opacity 350ms, -webkit-transform 350ms ease-out;
  transition: opacity 350ms, transform 350ms ease-out;
  transition: opacity 350ms, transform 350ms ease-out, -webkit-transform 350ms ease-out;
  -webkit-transition-delay: .262s, .262s;
  transition-delay: .262s, .262s
}
.primary-navigation .menu.active .pages li {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: opacity 350ms, -webkit-transform 350ms ease-out;
  transition: opacity 350ms, -webkit-transform 350ms ease-out;
  transition: opacity 350ms, transform 350ms ease-out;
  transition: opacity 350ms, transform 350ms ease-out, -webkit-transform 350ms ease-out
}
.primary-navigation .menu.active .pages li:nth-child(1) {
  -webkit-transition-delay: .262s;
  transition-delay: .262s
}
.primary-navigation .menu.active .pages li:nth-child(2) {
  -webkit-transition-delay: .312s;
  transition-delay: .312s
}
.primary-navigation .menu.active .pages li:nth-child(3) {
  -webkit-transition-delay: .362s;
  transition-delay: .362s
}
.primary-navigation .menu.active .pages li:nth-child(4) {
  -webkit-transition-delay: .412s;
  transition-delay: .412s
}
.primary-navigation .menu.active .pages li:nth-child(5) {
  -webkit-transition-delay: .462s;
  transition-delay: .462s
}
.primary-navigation .menu.active .pages li:nth-child(6) {
  -webkit-transition-delay: .512s;
  transition-delay: .512s
}
.primary-navigation .menu.active .pages li:nth-child(7) {
  -webkit-transition-delay: .562s;
  transition-delay: .562s
}
.primary-navigation .menu.active .pages li:nth-child(8) {
  -webkit-transition-delay: .612s;
  transition-delay: .612s
}
.primary-navigation .menu.active .pages li:nth-child(9) {
  -webkit-transition-delay: .662s;
  transition-delay: .662s
}
.primary-navigation .menu.active .pages li:nth-child(10) {
  -webkit-transition-delay: .712s;
  transition-delay: .712s
}
.primary-navigation .menu.active .pages li:nth-child(11) {
  -webkit-transition-delay: .762s;
  transition-delay: .762s
}
.navbar-header .dropdown-menu{
  padding: 0;
}
.navbar-header .dropdown-menu li{
  padding: 5px;
}
.btn-group.language{
  margin: 0 15px 0 7px;
  display: inline-block;
}
.btn-group.language .btn-default{
  background: rgba(0, 0, 0, 0.1);
  height: 42px;
  border:none;
  color:#fff;
}
.lang-sm:after {
  padding: 0 7px;
}
.btn-group.language .btn-default:active:hover, .btn-group.language .btn-default.active:hover, .btn-group.language.open > .dropdown-toggle.btn-default:hover, .btn-group.language .btn-default:active:focus, .btn-group.language .btn-default.active:focus, .btn-group.language.open > .dropdown-toggle.btn-default:focus, .btn-group.language .btn-default:active.focus, .btn-group.language .btn-default.active.focus, .btn-group.language.open > .dropdown-toggle.btn-default.focus{
  background: rgba(0, 0, 0, 0.1);
  color:#fff;
  border:none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.top-option{
  display: inline-block;
}
.top-option li{
  padding: 0 6px;
  display: inline-block;
}
.top-option li a{
  background: #fff;
  height: 42px;
  line-height: 30px;
  color: #00959b;
  font-size: 15px;
  padding:6px 12px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  border-radius:4px;
  font-weight: 500;
  vertical-align: middle;
  display: inline-block;
}
.top-option li a i{
  font-size: 18px;
  margin: 0 0 0 7px;
}
.caption{
  width:100%;
  padding: 90px 70px 0 0;
}
.caption h1{
  color:#007162;
  font-size:35px;
  font-weight: 500;
}
.caption p{
  color: #fff;
  font-size: 17px;
  line-height: 35px;
  padding: 24px 0 12px 0;
}
.caption .watch-video{
  color:#fff;
  font-size: 16px;
  font-weight: 300;
  margin: 30px 0 0 0;
  line-height: 30px;
  text-transform: uppercase;
  display: inline-block;
}
.caption .watch-video i{
  font-size: 30px;
  margin: 0 7px 0 0;
  float: left;
}
.rate-form{
  background: rgba(249, 249, 249, 0.2);
  width:100%;
  max-width: 415px;
  margin: 30px 0 0 0;
  padding: 40px 45px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  border-radius:4px;
  display: inline-block;
}
.rate-form h1{
  color:#fff;
  font-size:30px;
  text-align: center;
  padding:0 0 20px 0;
}
.rate-form .form-group {
  margin-bottom: 25px;
}
.rate-form .form-control{
  background: none;
  border: none;
  height:auto;
  color:#fff;
  font-size: 18px;
  font-weight: 300;
  padding: 22px 7px;
  box-shadow:none;
  -webkit-box-shadow:none;
  -moz-border-radius:0px;
  -webkit-border-radius:0px;
  border-radius:0px;
  border-bottom: 1px solid #fff;
}
.rate-form .form-control::-webkit-input-placeholder {
  color: #fff;
}
.rate-form .form-control::-moz-placeholder {
  color: #fff;
}
.rate-form .form-control:-ms-input-placeholder {
  color: #fff;
}
.rate-form .form-control:-moz-placeholder {
  color: #fff;
}
.rate-form select.form-control{
  background: url("../images/arrow.png") no-repeat 96% center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.rate-form select.form-control option{
  color:#000;
}
.rate-form .btn-lg{
  margin-top: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  display: inline-block;
}
.customer-logos{
  background: #fff;
  width:100%;
  margin:40px 0 -50px 0;
  padding: 32px;
  -webkit-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.12);
  -moz-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.12);
  box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.12);
}
.slick-slide img {
  width: 100%;
}
.slick-slide {
  margin: 0px 20px;
}
.slick-slider{
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list{
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus{
  outline: none;
}
.slick-list.dragging{
  cursor: pointer;
  cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list
{
  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
       -o-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.slick-track{
  position: relative;
  top: 0;
  left: 0;
  display: block;
}
.slick-track:before,
.slick-track:after{
  display: table;
  content: '';
}
.slick-track:after{
  clear: both;
}
.slick-loading .slick-track{
  visibility: hidden;
}
.slick-slide{
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
[dir='rtl'] .slick-slide{
  float: right;
}
.slick-slide img{
  display: block;
}
.slick-slide.slick-loading img{
  display: none;
}
.slick-slide.dragging img{
  pointer-events: none;
}
.slick-initialized .slick-slide{
  display: block;
}
.slick-loading .slick-slide{
  visibility: hidden;
}
.slick-vertical .slick-slide{
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}
.slick-arrow{
  background: none;
  border:none;
  color:#666;
  font-size: 30px;
  position: absolute;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.slick-prev{
  top:50%;
  left:10px;
}
.slick-next{
  top:50%;
  right:10px;
}
h2.section-heading{
  color:#00959b;
  font-size: 30px;
  margin: 0 0 40px 0;
  font-weight: 400;
}
.start-option li{
  margin: 0 17px;
  vertical-align: top;
  display: inline-block;
}
.start-option li a{
  background: #fff;
  width:100%;
  min-width:155px;
  max-width:155px;
  height:150px;
  padding:30px 18px 10px 18px;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
  -webkit-box-shadow: 0px 10px 15px 0px rgba(236,236,236,0.75);
  -moz-box-shadow: 0px 10px 15px 0px rgba(236,236,236,0.75);
  box-shadow: 0px 10px 15px 0px rgba(236,236,236,0.75);
  display: inline-block;
}
.start-option li a:hover{
  border:1px solid #ececec;
}
.start-option li a .ico{
  background: url("../images/sprite.png") no-repeat;
  width:54px;
  height: 50px;
  display: inline-block;
}
.start-option li a .ico.buy-home{
  background: url("../images/sprite.png") no-repeat -190px top;
}
.start-option li a .ico.renew{
  background: url("../images/sprite.png") no-repeat -380px top;
}
.start-option li a .ico.refinance{
  background: url("../images/sprite.png") no-repeat -190px top;
}
.start-option li a:hover .ico{
  background: url("../images/sprite.png") no-repeat 0 -67px;
  transition: all 0.5s ease;
}
.start-option li a:hover .ico.buy-home{
  background: url("../images/sprite.png") no-repeat -190px -65px;
}
.start-option li a:hover .ico.renew{
  background: url("../images/sprite.png") no-repeat -380px -65px;
}
.start-option li a:hover .ico.refinance{
  background: url("../images/sprite.png") no-repeat -190px -65px;
}
.start-option li a span{
  color:#545454;
  padding-top: 7px;
  display: block;
}
.start-option li a:hover span{
  color:#00959b;
  transition: all 0.5s ease;
}
.mortgage-rate li{
  background: #00b695;
  width:210px;
  height:210px;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  border-radius:50%;
  margin: 0 15px;
  padding:12px;
  overflow: hidden;
  display: inline-block;
}
.mortgage-rate li.second{
  background: #00959b;
}
.mortgage-rate li.third{
  background: #ffa231;  
}
.mortgage-rate li .inner{
  background: #fff;
  width:100%;
  height:186px;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  border-radius:50%;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);
  display: inline-block;
}
.mortgage-rate li .inner .percentage{
  font-size: 40px;
}
.mortgage-rate li .inner .percentage sup{
  font-size: 20px;
  vertical-align: top;
}
.inner img{
  margin-top: 35%;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);
}

